<h1> Recipe for <%=@recipe.name%></h1>

<h4>Recipe Instructions: <%=@recipe.instructions%></h4>
<h4>Cook Time: <%=@recipe.cooktime%></h4>
</ul>
<h4> Ingredients: </h4>

<% @ingredients.each do |ingredient|%>
  <li><%=ingredient.name %></li>
<%end%>
</ul>
