<h1>Here are the ingredients for this recipe </h1>

<ul>
<% @ingredients.each do |ingredient| %>
  <li><%=link_to ingredient.name, recipe_ingredient_path(@recipe, ingredient) %> - <%=link_to "Delete Ingredient", recipe_ingredient_path(@recipe, ingredient), :method => "delete" %></li>
<%end%>
</ul>
<%= link_to "Add Ingredient", new_recipe_ingredient_path(@recipe, @ingredient)%>
