<h1>Here is alist of all of the ingredients you hvae previously used in recipes </h1>
<ul>
<%= @ingredients.each do |ingredient| %>
  <li><%=link_to ingredient.name, ingredient_path(ingredient) %></li>
<%end%>
</ul>
